.wbdv-navbar-two {
    margin-top: 74px;
    background-color: lightgrey;
}

.test {
    background-color: grey;
}

.wbdv-recent-docs {
    color: black;
}

.wbdv-grid-two {
    margin-left:400px
}

.wbdv-grid-three-icon {
    margin-left:100px
}

.wbdv-icon-list-grid {
    margin-right: 20px;
}

.wbdv-grid-sort {
    margin-left:350px
}
.wbdv-folder-grid {
    margin-left:10px
}

.wbdv-grid-list2 {
    margin-right: 20px;
}

.wbdv-grid-sort2 {
    margin-right:20px
}


.wbdv-margin-bottom {
    margin-bottom: 150px;
}

wbdv-margin-cards-home {
    margin-left:50px
}
