.wbdv-homepage-header {
    background-color: #0070bf;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
}

.background {
    background-image: url("https://fast.adamlouis.com/wp-content/uploads/2016/07/Health-and-Fitness-Online-booking-and-payments-website-Facebook-Wifi-Business-phone-systems-Business-Email-AdamLouis.jpg");
}

.wbdv-header{
    margin-top: 100px;
}

.wbdv-link {
    color: #ffffff;
}

.wbdv-margin-search-bar {
    margin-bottom: 20px;
}
